## FUNCTIONS IN PYTHON 
- why functions
- function definition
- positional and keyword arguments in functions

In [2]:
num=24

if num%2==0 :
    print("even")
else:
    print("odd")

even

In [4]:
## syntax for defining a function

## def function_name(parameter1,parameter2,....):
##     function body

In [6]:
# we are defining the function
def even_odd(num):
    if num%2==0 :
      print("even")
    else:
      print("odd")

In [8]:
# we are calling the above function
even_odd(4)

even

In [10]:
# PRINT VS RETURN
def hello_world():
    print("Hii Abhi")

In [12]:
a=hello_world()

Hii Abhi

In [14]:
# if we are storing the function in one variable and printing it. it will be showing none because in the fn we r just printing it not returning the output
print(a)

None

In [16]:
def hello_world():
    return "Hii Abhi"

In [18]:
a=hello_world()

In [20]:
# if we are returning the value in the function and storing it in a variable if we print it then it will print the value
# this is the difference between the print and return statements
print(a)

Hii Abhi

In [22]:
def add(num1,num2):
    return num1+num2

In [24]:
a=add(120,23)

In [26]:
a

143

In [28]:
# positional argument
# keyword argument if we dont assin any valu to the it it will be positional argument 
# hello(positional arguments,keyword argument)
def hello(name,age=20):
    print("my name is {} my age is {} ".format(name,age))

In [30]:
hello('Abhi')

my name is Abhi my age is 20

In [32]:
def hello(name,age=20):
    # we can also take the input like this 
    print("my name is",name," my age is",age)

In [34]:
hello('Aaryan')

my name is Aaryan  my age is 20

In [36]:
# *args is positional argument and **kwargs is keword argument

def hello(*args,**kwargs):
    print(args)
    print(kwargs)

In [38]:
hello('Aaryan','Thota',age=20,dob=2005)

('Aaryan', 'Thota')
{'age': 20, 'dob': 2005}

In [40]:
lst=['Aaryan','Thota']
dic_args={'age': 20, 'dob': 2005}

In [42]:
hello(*lst,**dic_args)

('Aaryan', 'Thota')
{'age': 20, 'dob': 2005}

In [44]:
lst=[1,2,3,4,5,6,7]

In [46]:
def sum(lst):
    even_sum=0
    odd_sum=0
    for i in lst:
        if i%2==0:
            even_sum+=i
        else:
            odd_sum+=i
    return even_sum,odd_sum

In [48]:
sum(lst)

(12, 16)

In [50]:
## if we want to give the input to the list then we use
lst=list(input("enter the values into the list:"))

enter the values into the list: 16

In [52]:
print(lst)

['1', '6']

In [54]:
lst=[1,2,3,4,5,6,7,8,9]

In [56]:
# adding the elements into the list and printing the sum of the elements in the list
def add_list(lst):
    sum=0
    for i in lst:
        sum += i
    return sum

In [58]:
add_list(lst)

45

## Map function in python

In [61]:
def even_or_odd(num):
    if num%2==0:
        return "even {}".format(num)
    else:
        return "odd {}".format(num)

In [63]:
even_or_odd(12)

'even 12'

In [65]:
lst=[1,2,3,4,5,6,7,8,9,12,13,15,1,8,19]

In [67]:
def even_odd(lst):
    for i in lst:
        if i%2==0:
            return i
        else:
            return i

In [69]:
even_odd(lst)

1

In [71]:
list(map(even_or_odd,lst))

['odd 1',
 'even 2',
 'odd 3',
 'even 4',
 'odd 5',
 'even 6',
 'odd 7',
 'even 8',
 'odd 9',
 'even 12',
 'odd 13',
 'odd 15',
 'odd 1',
 'even 8',
 'odd 19']

## Lambda function

it is also called as anonymous function and function with no name

In [75]:
def addition(a,b):
    return a+b

In [77]:
addition(93,50)

143

In [79]:
add=lambda a,b:a+b

In [81]:
add(13,56)

69

In [83]:
def even(num):
    if num%2==0:
        return True

In [85]:
even(24)

True

In [87]:
even1=lambda a:a%2==0

In [89]:
even1(36)

True

In [91]:
def add(x,y,z):
    return x+y+z

In [93]:
add(12,3,6)

21

In [95]:
a=lambda x,y,z:x+y+z

In [97]:
a(12,36,48)

96

## Filter function in python

In [100]:
def even(num):
    if num%2==0:
        return True

In [102]:
lst=[1,2,3,4,5,6,7,8]

In [104]:
# it gets the elements which are even only from the list
list(filter(even,lst))

[2, 4, 6, 8]

In [106]:
def odd(num):
    if num%2!=0:
        return True

In [108]:
list(filter(odd,lst))

[1, 3, 5, 7]

In [110]:
list(filter(lambda num:num%2==0,lst))

[2, 4, 6, 8]

In [112]:
list(filter(lambda num:num%2!=0,lst))

[1, 3, 5, 7]

In [114]:
list(map(lambda num:num%2==0,lst))

[False, True, False, True, False, True, False, True]

## List Comprehension

List comprehension provide a concise way to create lists. It consists of brackets containing an expression followed by a for clause,then zero or more for or if clauses.The expressions can be anything,meaning you can put in all kinds of objects in lists.

In [120]:
# here for sq the nums present in the list we are writing a code for the 3-4 line instead of it to make it simple we will be using list comprehension 
lst1=[]
def lst_sq(lst):
    for  i in lst:
        lst1.append(i*i)
    return lst1

In [122]:
lst_sq([1,2,3,4,5,6])

[1, 4, 9, 16, 25, 36]

In [124]:
# list compression 
lst=[1,2,3,4,5,6]
[i*i for i in lst]

[1, 4, 9, 16, 25, 36]

In [126]:
# if we want to print the even square in the list
lst=[1,2,3,4,5,6]
[i*i for i in lst if i%2==0]

[4, 16, 36]

## String Formatting in Python

In [130]:
print("Hello Abhi")

Hello Abhi

In [132]:
def greeting(name):
    return "Hello {}. welcome to the community".format(name)

In [134]:
greeting('abhi')

'Hello abhi. welcome to the community'

In [136]:
def welcome(firstname,lastname):
    return "my name is {} {}".format(firstname,lastname)

In [138]:
welcome('Aaryan','Thota')

'my name is Aaryan Thota'

## Python List Iterables vs iterators

In [142]:
## list is iterable

lst=[1,2,3,4,5,6]

for i in lst:
    print(i)

1
2
3
4
5
6

In [144]:
# this function will convert iterables to iterators
lst1=iter(lst)

In [146]:
lst1

In [148]:
# next will be retriving the elements one by one 
next(lst1)

1

In [150]:
for i in lst1 :
    print(i)

2
3
4
5
6