In [9]:
# KEEP # AND CHANGE THE CODE OPTION TO THE MARK DOWN THEN ONE MARK DOWN BOX WILL BE CREATED IN THAT TYPE # FOR HEADING AND ## FOR THE SUB HEADINGS AND FOR ANY POINTS - IS USED

# PYHTON
- DATA TYPES

In [14]:
#THERE ARE MANY DATA TYPES +,*,/,-,%,//,**

## Python Data Structures and Boolean
- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets
## Boolean Variables
Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [11]:
my_str='Aaryan'

In [15]:
my_str.istitle() # title means the first letter of the word is capital the it is true

True

In [17]:
print(my_str.isalnum()) #check if all char are nums
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('N')) #test if string endswith a d
print(my_str.startswith('A')) #test if string startswith H

True
True
False
True
False
False
False
False
True

## Boolean and Logical Operators

In [24]:
True and True
True and False
True or False
True or True

True

In [26]:
ex='hello world'
my='abhi'

In [28]:
my.isalpha() or ex.ismum

True

# Lists
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]
List can store any data types

In [31]:
type([])

list

In [33]:
list=[]

In [35]:
type(list)

list

In [37]:
lst=['abhi','aaryan',2048,26]

In [39]:
print(lst)

['abhi', 'aaryan', 2048, 26]

## Append to the list
indexing start from 0 t n

In [73]:
# append is used to add the content into the list 
lst.append("aaryan_26")

In [75]:
len(lst)

5

In [77]:
lst

['abhi', 2048, 26, 'aaryan', 'aaryan_26']

In [79]:
 lst[2]

26

In [82]:
# if we want to insert an element into particular index then list.insert(index,"value)
lst.insert(2,"aarya")

extend method
if we want to append multiple elements then we use extend which will no display like this[[1,2,3,]]

In [109]:
lst=[1,2,3,4,5]

In [111]:
lst.extend([6,7,8])

In [113]:
lst

[1, 2, 3, 4, 5, 6, 7, 8]

In [115]:
lst.pop() # it is used to delete the element and written the deleted element if does not give any value it will take the last value

8

In [117]:
lst

[1, 2, 3, 4, 5, 6, 7]

## count
it is used to count the no of occurences of a number

In [120]:
l1=[1,2,3,1,5,3,6,1,4,6,2]

In [122]:
l1.count(1)

3

## index is used to return the index of the particular element

In [138]:
# it will return the index of first occurance of the no if we not give any number it will take the first element
# in index we can also keep the starting and ending index also lst.index(value,start,end)
l1.index(5)

4

min and max values in the list

In [141]:
min(lst) #return the min value in the list

1

In [143]:
max(lst) # return the max element in the list

7

# SETS
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [146]:
# defining an empty set
se=set()

In [150]:
print(type(se))

<class 'set'>

In [43]:
se={"avengers","end game","thor ragnorok"}

In [45]:
se

{'avengers', 'end game', 'thor ragnorok'}

In [47]:
set_n={1,2,3,1,2,5} # the repeated values are taken once in sets

In [49]:
set_n

{1, 2, 3, 5}

In [192]:
# if we need to add any element in the sets wee use add fn 
# in set the data is stored in an order based on alphabetic order 
se.add("hulk")

In [194]:
# in set the nums will be stored in at the first 
se.add(60)

In [196]:
se

{60, 'avengers', 'end game', 'hulk', 'thor ragnorok'}

- indexing is no support in sets

In [32]:
# to remove the same items in the both the sets we use difference function
a={1,2,3,4,5}
b={6,5,3,6,7}
#here all the same elements in the both steps are removed and displays the remaining elements in the set

In [28]:
# if we need to perform difference and update the difference in set a we use difference_update fn 
a.difference_update(b)

In [30]:
a

{1, 2, 4}

In [34]:
# if we need to get the common elements then we use intersection fn 
a.intersection(b)

{3, 5}

# Dictionaries
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [51]:
dic={}

In [53]:
type(dic)

dict

In [59]:
# we should not keep items like this in dictionary instead we use a key and set a value
dic={1,2,3,4}

In [57]:
type(dic)

set

In [63]:
dic={"car1":"audi","car2":"bmw","car3":"benz"}

In [65]:
dic

{'car1': 'audi', 'car2': 'bmw', 'car3': 'benz'}

In [67]:
type(dic)

dict

In [71]:
## to access the values through the keys
dic["car1"]

'audi'

In [75]:
# we can even loop the dictionaries
for i in dic:
    print(dic[i])

audi
bmw
benz

In [89]:
for i in  dic.items():
    print(i)

('car1', 'audi')
('car2', 'bmw')
('car3', 'benz')

In [95]:
# adding an items if we add an item by the existing key value the the valu is replaced
dic["car4"]="jaguar"

In [97]:
dic

{'car1': 'audi', 'car2': 'bmw', 'car3': 'benz', 'car4': 'jaguar'}

## Nested Dictionary

In [103]:
c1_model={'benz':1980}
c2_model={'audi':1960}
c3_model={'BMW ':1969}
c_type={'car1':c1_model,'car2':c2_model,'car3':c3_model}

In [105]:
c_type

{'car1': {'benz': 1980}, 'car2': {'audi': 1960}, 'car3': {'BMW ': 1969}}

In [107]:
c_type['car1']['benz']

1980

# Tuples

In [110]:
my_tup=()

In [112]:
type(my_tup)

tuple

In [120]:
tup=(1,2,3,4,2,5,6,3,1,2,5)

In [122]:
tup

(1, 2, 3, 4, 2, 5, 6, 3, 1, 2, 5)

In [124]:
type(tup)

tuple

In [128]:
tup.count(2)

3

In [130]:
tup.index(3)

2